extends ../layout/private
include ../mixin/pagination

block title
  title お問い合わせの一覧｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../') ホーム
        li.breadcrumb-item
          a(href='./' aria-current='page') お問い合わせ

block main
  main
    .container-fluid
      h1 お問い合わせの一覧
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
      form.mt-3(role='form')
        .input-group
          input.form-control(type='search' name='keyword' id='keyword' placeholder='キーワード' aria-label='検索キーワード' value=req.query.keyword || '')
          button.btn.btn-primary(type='submit') 検索

      if questions.length < 1
        p.mt-3
          if url.search === '' 
            | お問い合わせが登録されていません。
          if url.search !== '' 
            | 検索結果は0件でした。
      if questions.length >= 1
        p.mt-3 全#{page.max}ページ中#{page.current}ページ目、#{page.start}件目から#{page.end}件目までを表示しています。
        nav.mt-3(aria-label='メイン')
          .list-group
            each question in questions
              a.list-group-item.list-group-item-action(href=`./${question.id}/`) #{question.dateText}、#{question.company || question.name}様、税込#{question.priceText}円

        +pagination(pagination)
