extends ../layout/private
include ../mixin/product-item

block title
  title 見積書発行履歴の詳細｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../') ホーム
        li.breadcrumb-item
          a(href='../') 見積書発行履歴
        li.breadcrumb-item
          a(href='./' aria-current='page') 詳細

block main
  main
    .container-fluid
      h1 見積書発行履歴の詳細
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
          a.btn.btn-outline-primary(href='./print/' target='_blank') 見積書を印刷する
          a.btn.btn-outline-danger(href='./delete/') 削除...

      section.mt-3
        h2 目次
        nav(aria-label='目次')
          ul.list-unstyled
            li
              a(href='#order') 見積書発行履歴について
            li
              a(href='#list') 商品の内訳
            each product of products
              li
                a(href='#product' + product.number) 商品#{product.number}の詳細

      section.mt-3(id='order')
        h2 見積書発行履歴について
        dl.mb-0
          dt 発行日時
          dd #{estimate.dateText}

          dt 見積書番号
          dd #{estimate.number}

          dt 宛名
          dd #{estimate.name}

          dt メールマガジン
          dd #{estimate.subscribe}

          if estimate.subscribe === '受け取る'
            dt メールアドレス
            dd #{estimate.email}

      section.mt-3(id='list')
        h2 商品の内訳

        table.table
          thead
            tr
              th 品名
              th 単価
              th 数量
              th 金額
          tbody
            each product in products
              tr
                td 商品#{product.number}
                td #{product.price.unitText}円
                td #{product.amount}台
                td #{product.price.totalText}円

        dl
          dt 小計金額（税抜）
          dd #{summary.subtotalText}円

          dt 消費税（10％）
          dd #{summary.taxText}円

          dt 合計金額（税込）
          dd #{summary.totalText}円

          dt 合計数量
          dd #{summary.amountText}台

      each product of products
        section.mt-3(id='product' + product.number)
          h2 商品#{product.number}の詳細
          +product-item(product)
