extends ../layout/private
include ../mixin/pagination

block title
  title 見積書発行履歴の一覧｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../') ホーム
        li.breadcrumb-item
          a(href='./' aria-current='page') 見積書発行履歴

block main
  main
    .container-fluid
      h1 見積書発行履歴の一覧
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
      form.mt-3(role='form')
        .input-group
          input.form-control(type='search' name='keyword' id='keyword' placeholder='キーワード' aria-label='検索キーワード' value=req.query.keyword || '')
          button.btn.btn-primary(type='submit') 検索


      if estimates.length < 1
        p.mt-3
          if url.search === '' 
            | 見積書発行履歴が登録されていません。
          if url.search !== '' 
            | 検索結果は0件でした。
      if estimates.length >= 1
        p.mt-3 全#{page.max}ページ中#{page.current}ページ目、#{page.start}件目から#{page.end}件目までを表示しています。
        nav.mt-3(aria-label='メイン')
          .list-group
            each estimate in estimates
              a.list-group-item.list-group-item-action(href=`./${estimate.id}/`) #{estimate.dateText}、#{estimate.name} #{estimate.title}、税込#{estimate.priceText}円

        +pagination(pagination)

      //- nav.mt-3(aria-label='メイン')
      //-   .list-group
      //-     each el, i in new Array(20)
      //-       a.list-group-item.list-group-item-action(href='./1/') 2021年5月4日(火) 9時0分0秒、株式会社ロレムイプサム 御中、税込22,000円
      //- nav.mt-3(aria-label='ページ番号')
      //-   ul.pagination
      //-     li.page-item.disabled
      //-       a.page-link(href='./') 前のページ
      //-     li.page-item.active
      //-       a.page-link(href='./' aria-current='page') 1
      //-     li.page-item
      //-       a.page-link(href='./') 2
      //-     li.page-item
      //-       a.page-link(href='./') 3
      //-     li.page-item
      //-       a.page-link(href='./') 4
      //-     li.page-item
      //-       a.page-link(href='./') 5
      //-     li.page-item
      //-       a.page-link(href='./') 次のページ
